# URL Backend Render API (Wajib menyertakan akhiran /api)
VITE_API_URL="https://bumilfit.onrender.com/api"

# Google reCAPTCHA v2 (Site Key)
VITE_RECAPTCHA_SITE_KEY="6LdKfaktAAAAAHpk60SPoZHfyIhD-faxPFBgwbQk"

# Google OAuth 2.0 (Client ID)
VITE_GOOGLE_CLIENT_ID="466154533700-neq2pk3qhjcnt88684d8gofcc211duln.apps.googleusercontent.com"

# Gemini AI API Key
VITE_GEMINI_API_KEY="your-gemini-api-key"
